:root {
  --primary-color: #5484dd;
  --primary-color-dark: #112b5a;
  --text-dark: #333333;
  --text-light: #767268;
  --extra-light: #f5f6f8;
  --white: #ffffff;
  --max-width: 1200px;
}

.header__container {
  max-width: 900px;
}

.header__container h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  color: var(--white);
  text-align: center;
}

.header__container p {
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 4rem;
  color: var(--white);
  text-align: center;
}

.booking {
  max-width: 400px;
  margin: auto;
  padding: 1.5rem 1rem;
  display: grid;
  gap: 1.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
}

.booking__type {
  width: fit-content;
  padding: 5px;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 2px;
}

.booking__type > div {
  padding: 10px;
  color: var(--white);
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.booking__type > :is(div:hover, div.active) {
  color: var(--primary-color);
  background-color: var(--white);
}

.booking__form {
  padding: 1.5rem 1rem;
  display: grid;
  align-items: center;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.booking__input {
  display: grid;
  gap: 5px;
}

.booking__input label {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--white);
}

.booking__input input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--text-dark);
  outline: none;
  border: 1px solid var(--extra-light);
  border-radius: 2px;
}

.booking__btn {
  text-align: right;
}