@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100&family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
nav{
 position: fixed;
 left: 0;
 top: 0;
 width: 100%;
 height: 100px;
 background:#fff;
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
nav .navbar{
 display: flex;
 align-items: center;
 justify-content: space-between;
 height: 100%;
 max-width: 90%;
 background: #fff;
 margin: auto;
}

nav .navbar .menu{
  display: flex;
}
.navbar .menu li{
  list-style: none;

}
.navbar .menu li a{
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  margin-top: 30px;
}
.d111{
  display: flex;
  height: 90vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #96c7e8;
  font-size: 70px;
  font-weight: 30px;
  background:linear-gradient(rgba(18, 66, 117, 0.7),rgba(9, 7, 70, 0.7)),url(fee.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  font-family: 'Helvetica','sans-serif',;
}

.d4{
  display: flex;
  height: 80vh;
  width: 100%;
  padding: 40px 5% 4px;
    border-top: 2px solid #333;
    color:#777;
}
.d4 .firsthalf
{
  width: 50%;
  padding-top: 60px;

}

.d4 .secondhalf
{
  width: 50%;
  justify-content: center;
  padding-left: 150px;
  padding-top: 40px;
}
.d5{
  display: flex;
  height: 10vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #96c7e8;
  font-size: 70px;
  font-weight: 30px;
  background: blueviolet;
  border-top: 2px solid #333;
}
.d77
{

  height: 100vh;
  width: 100%;
  padding: 40px 5% 4px;
    border-top: 2px solid #333;
    color:#777;
}
.vl{

  height: 150vh;
  width: 100%;
  padding-top:120px;
  padding-left: 10%;
  padding-right: 10%;
  background-color:#b1dcf2;
  border-top: 2px solid #333;
}
.buspass
{
  height: 50vh;
  width: 100%;
  background-color:#b1f2d3;
  border-top: 2px solid #333;
}
#About{
  background: #f2f2f2;
}
#Category{
  background: #e6e6e6;
}
#Latest{
  background: #fff;
}
#Contact{
  background: #f2f2f2;
}
#Feedback{
  background: #e6e6e6;
}
.button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #2980b9;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
}

.d-flex p{
  font-size: 19px;
  padding-left: 10px;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}
.d-flex i
{
  padding-top: 14px;
}


.d-flexs p{
  font-size: 19px;
  margin-top: 20px;
  padding-left: 4px;
  font-family: sans-serif;
  border: none;
}

#notify {
  --color:rgb(12, 65, 103);
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 1.5em;
  margin: 3px;
  position: relative;
  overflow: hidden;
  border: 2px solid rgb(12, 65, 103);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: rgb(12, 65, 103);
 }
 
 #notify:before {
  content: "";
  position: absolute;
  z-index: -1;
  background:rgb(12, 65, 103);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 #notify:hover {
  color: #fff;
 }
 
 #notify:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 #notify:hover:before {
  top: -30px;
  left: -30px;
 }
 
 #notify:active:before {
  background:rgb(12, 65, 103);
  transition: background 0s;
 }
 

.line
{
  width: 180px;
  height: 2px;
  background-color: rgb(5, 5, 3) ;
  margin: 4px;
 margin-left: 50px;
  border-radius: 5px;
   
}
.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: inherit;
}

button.accordion-button:focus{
  box-shadow: inherit;
}
.searching
{
  background-color: rgb(255, 185, 185);
  width: 90%;
  height:20vh;
  margin-top: 100px;
  border-radius: 50px;
}
.home-banner {
  /* "../" for back to main folder */
  
  height: 150px;
}


.input-search-container {
	position: absolute;
	top: 50%;
	left: 50%;
	right: 50%;
}

.inputIcon {
	position: absolute;
	left: 5px;
	font-size: 25px;
	vertical-align: middle;
	color: #AAA;
}

.inputForm {
	width: 225px;
	height: 40px;
	padding-left: 28px;
}

.inputLabel-default {
	position: absolute;
	left: 30px;
	color: grey;
	font-weight: 350;
	font-size: 15px;
	margin-top: 8px;
	transition-duration: 0.3s;
}
	.inputLabel-focusIn {
		position: absolute;
		left: 30px;
		color: #9b9b9b;
		font-size: 10px;	
		margin-top: 1px;
	}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);
   color:rgb(192, 44, 236) ;
		color: #000;
		font-weight: bold;
	}

}

.contact-info {
  width: 50%;
  background-color: #ffea4e;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: black;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #1da9c0;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: #FFF;
  font-size: 1em;
}

.contact-form {
  background-color: #fff;
  padding: 40px;
  width: 80%;
  padding-bottom: 20px;
  padding-top: 25px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]
{
  width: 100%;
  background: #00bcd4;
  color: #FFF;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #00bcd4;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover
{
  background: #FFF;
  color: #00bcd4;
}

@media (max-width: 991px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .row {
    flex-direction: column;
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  
  .contact-form {
    width: 100%;
  }
}


a
{
  text-decoration: none;
color:white
}
.pinky:hover
{
  color:rgb(20, 251, 178)
}
