@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
} */
/* nav{
 position: fixed;
 left: 0;
 top: 0;
 width: 100%;
 height: 100px;
 background:#fff;
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
nav .navbar{
 display: flex;
 align-items: center;
 justify-content: space-between;
 height: 100%;
 max-width: 90%;
 background: #fff;
 margin: auto;
}

nav .navbar .menu{
  display: flex;
}
.navbar .menu li{
  list-style: none;

}
.navbar .menu li a{
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  margin-top: 30px;
} */
.d15{
  display: flex;
  height: 90vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #96c7e8;
  font-size: 70px;
  font-weight: 30px;
  background:linear-gradient(rgba(18, 66, 117, 0.7),rgba(9, 7, 70, 0.7)),url(p1.jpg);
  background-position: bottom;
  background-size: cover;
  font-family: 'Helvetica','sans-serif',;
}

.d44{
 
  height: 80vh;
  width: 100%;
    border-top: 2px solid #333;
    color:#777;
}



.d555{
  display: flex;
  height: 8vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #96c7e8;
  font-size: 70px;
  font-weight: 30px;
  background: rgb(14, 10, 18);
  border-top: 2px solid #333;
}
#hero {
  width: 100%;
  height: 100vh;
  background: url("https://www.kceisco.com/static/img/img1.jpg") top center;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  font-family: 'Exo 2', sans-serif;
}

#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #589ebc;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: #589ebc;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }

  #hero h1 {
    font-size: 50px;
    line-height: 60px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.vls{

  
  width: 100%;
 height:130vh;
  padding-top:8%;
  padding-left: 10%;
  padding-right: 10%;
  background: white;
   
  border-top: 2px solid #333;
}

.rol 
{
  width: 100%;
  height:auto;
  padding-top:8%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom:18%;
   background-color:#ffffff;
   background: #2193b0;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
   

   
}

#About{
  background: #f2f2f2;
}
#Category{
  background: #e6e6e6;
}
#Latest{
  background: #fff;
}
#Contact{
  background: #f2f2f2;
}
#Feedback{
  background: #e6e6e6;
}
.button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #2980b9;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
}

.d-flex p{
  font-size: 19px;
  padding-left: 10px;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}
.d-flex i
{
  padding-top: 14px;
}


.d-flexs p{
  font-size: 19px;
  margin-top: 20px;
  padding-left: 4px;
  font-family: sans-serif;
  border: none;
}

#notify {
  --color:rgb(12, 65, 103);
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 1.5em;
  margin: 3px;
  position: relative;
  overflow: hidden;
  border: 2px solid rgb(12, 65, 103);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: rgb(12, 65, 103);
 }
 
 #notify:before {
  content: "";
  position: absolute;
  z-index: -1;
  background:rgb(12, 65, 103);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 #notify:hover {
  color: #fff;
 }
 
 #notify:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 #notify:hover:before {
  top: -30px;
  left: -30px;
 }
 
 #notify:active:before {
  background:rgb(12, 65, 103);
  transition: background 0s;
 }
 

.lines
{
  width: 180px;
  height: 1px;
  background-color: rgb(224, 224, 136) ;
  margin: 4px;
 margin-left: 100px;
  border-radius: 5px;
   
}


table { 
	width: 750px; 
	border-collapse: collapse; 
	margin:2px;
	}

/* Zebra striping */
.vls tr:nth-of-type(odd) { 
	background: #eee; 
	}

.vls th { 
	background:rgb(16, 130, 175); 
	color: white; 
	font-weight: bold; 
	}

.vls td, th { 
  
	padding: 3px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 15px;
	}

  #touchs{
 
    width: 600px;
    height: 60px;
    font-size: 18px;
    font-family: Helvetica,sans-serif;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  
  }
  
  #touchs span{
    position: relative;
    z-index: 2;
    font-weight: bold;
  }
  
  #touchs:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #c9a427;
    border-radius: 10px;
    transition: all .35s;
  }
  
  #touchs:hover{
    color: black;
  }
  
  #touchs:hover:after{
    width: 100%;
  }
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	
  
  #fon 
  {
    padding-left: 1px;
    font-size: 80px;
    color:#2980b9;
  
  }
  .rol
  {
    padding-top:0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom:0%;
  }
}



@media (max-width: 991px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .row {
    flex-direction: column;
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  
  .contact-form {
    width: 100%;
  }
}
@media screen and (max-width:768px) 
{
  .d15
  {
    height:100vh;
  }
 
  .header-contentss .sac 
  {
    font-size: 60px;
  }
  .lines
  {
    margin-left: 70px;
  }
   .header-contentss 
   {
    margin-left: 13px;
   }
   #touchs
   {
    margin-left: -100px;
   }
    .vl
    {
      display: none;
    }

    .vls #fon {
       /* Adjust font size for larger screens */
      padding-left: 2%; 
      font-size: 3rem;/* Adjust padding for larger screens */
  }
  .vls #fon h5
  {
    font-size: 60rem;
  }
  .d44{
    height: auto;
  }

  a#touchs
  {
    margin-right: 5px;
  }
  .vls{
    height: auto;
  }
}

